__pycache__/button_img.cpython-38.pyc
__pycache__/button.cpython-38.pyc
__pycache__/enemy.cpython-38.pyc
__pycache__/game_over.cpython-38.pyc
__pycache__/game.cpython-38.pyc
__pycache__/menu.cpython-38.pyc
__pycache__/objects.cpython-38.pyc
__pycache__/pause.cpython-38.pyc
__pycache__/player.cpython-38.pyc
__pycache__/toolbox.cpython-38.pyc
__pycache__/text.cpython-38.pyc
__pycache__/game2.cpython-38.pyc
__pycache__/level.cpython-38.pyc
